language: java
#after_success:
#  - bash <(curl -s https://codecov.io/bash)
cache:
  directories:
    - $HOME/.m2
jdk:
  - openjdk8
before_install:
  - cp .travis.settings.xml $HOME/.m2/settings.xml
addons:
  sonarcloud:
    organization: "informatique-cdc"
    token:
      secure: "IOotBqvsv4/YlNzf6gdgrdka4MzUAc+XbnIrp0cr4CUi55atLpGxSmIv+3ca38rTuBvkz6JLXlz4OrCxaYWxXDlxQTW0NQ4TpFIJ4G//pPF4/Ow/wT6D6Imni3A894KhtOP/Zgujc/of1Bkjtcg7WiJaJI3SGV2eYCzRKMcmDeE3dHTw+EUlrp10oEvkMVru5fD2JNLVcrpkMWCL/ZsI4ID6RvfNy4LnpZsKWCpEznrEJ9T0lFtURGlRHduTtN9vPdZK6E76M8e+1ZsazenQepmkBpo5kraKm/gyckPyX2tbtvmGt5U9wsx/aDuw7Lbr6dhDTcSoaUc7GUOb3/3I/vUSkBJ7skJltWbX1EVMi/d5tR2Rd0whRh6UPrUu3l7MglyUZNG8kNDNZid/xlqDm3HwEReNmvGOx4/GtF+UGzdPaOJ+mzwdkKqqQWJj/xAvRKHi6MU6jnRkpPW4SW03Z/NOaETUasA9rk7lYQrE27TqGPEKwEiVwAmnRR4Je8UEZHgqUruowXjjg7JR1CHzg5aNm/fCFoRZwkRWK8dO/awCRbUbLTAKwW46ETDETbPelcV4rUZGBs5XSul73oOItgipAz0dv+XbfA5QDxD8osHYCYOExSPCYm2lOY6NhWBcXg/1DCQmRXZxdSPxbdVsQkqpkPFAH0nyl30PnyzUXus="
script:
  # the following command line builds the project, runs the tests with coverage and then execute the SonarCloud analysis
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar -Dsonar.projectKey=informatique-cdc_ebad -B
