<settings>
    <profiles>
        <profile>
            <id>github</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>github</id>
                    <name>GitHub Ebad Maven Packages</name>
                    <url>https://maven.pkg.github.com/informatique-cdc/ebad-plugin</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>false</enabled></snapshots>
                </repository>
            </repositories>

        </profile>
    </profiles>

    <servers>
        <server>
            <id>github-public</id>
            <username>read-public-ebad</username>
            <password>&#32;&#103;&#104;&#112;&#95;&#107;&#100;&#71;&#118;&#81;&#69;&#108;&#100;&#66;&#52;&#80;&#102;&#113;&#88;&#121;&#84;&#121;&#90;&#83;&#74;&#108;&#83;&#81;&#86;&#51;&#52;&#66;&#122;&#51;&#121;&#49;&#99;&#99;&#55;&#106;&#102;&#32;&#10;</password>
        </server>
        <server>
            <id>github</id>
            <username>read-public-ebad</username>
            <password>&#32;&#103;&#104;&#112;&#95;&#107;&#100;&#71;&#118;&#81;&#69;&#108;&#100;&#66;&#52;&#80;&#102;&#113;&#88;&#121;&#84;&#121;&#90;&#83;&#74;&#108;&#83;&#81;&#86;&#51;&#52;&#66;&#122;&#51;&#121;&#49;&#99;&#99;&#55;&#106;&#102;&#32;&#10;</password>
        </server>
    </servers>
</settings>