<settings>
    <profiles>
        <profile>
            <id>github</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>github</id>
                    <name>GitHub Ebad Maven Packages</name>
                    <url>https://maven.pkg.github.com/informatique-cdc/ebad-plugin</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>false</enabled></snapshots>
                </repository>
            </repositories>

        </profile>
    </profiles>

    <servers>
        <server>
            <id>github-public</id>
            <username>${env.USERNAME}</username>
            <password>${env.PASSWORD}</password>
        </server>
        <server>
            <id>github</id>
            <username>${env.USERNAME}</username>
            <password>${env.PASSWORD}</password>
        </server>
    </servers>
</settings>
