server:
  port: 11006
  servlet:
    context-path: /ebad

spring:
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: Europe/Paris
  servlet:
    multipart:
      max-file-size: 1024MB
      max-request-size: 1024MB
      file-size-threshold: 0
  main:
    allow-bean-definition-overriding: true
    jpa:
      properties:
        hibernate:
          enable_lazy_load_no_trans: true
  jpa:
    openInView: false
    show_sql: false
    generate-ddl: false
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate.cache.use_second_level_cache: true
      hibernate.cache.use_query_cache: false
      hibernate.generate_statistics: false
      hibernate.javax.cache.provider: org.ehcache.jsr107.EhcacheCachingProvider
      hibernate.cache.region.factory_class: jcache
      hibernate.jdbc.time_zone: Europe/Paris
      hibernate.current_session_context_class: org.springframework.orm.hibernate5.SpringSessionContext
      hibernate.javax.cache.missing_cache_strategy: create
management:
  endpoint:
    health:
      show-details: "ALWAYS"
  endpoints:
    web:
      exposure:
        include: '*'
security:
  basic:
    enabled: false
logging.level:
  fr.icdc.ebad: debug

