spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ebad?stringtype=unspecified
    username: postgres
    password:
    initialization-mode: never
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    database: POSTGRESQL
ebad:
  security:
    authentication:
      jwt:
        secret: my-secret-token-to-change-in-production
        # Token is valid 24 hours
        token-validity-in-seconds: 86400
        token-validity-in-seconds-for-remember-me: 2592000
  ssh:
    login: ebad
    private_key_path: src/main/resources/keys/key
